.boardWrapper {
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
  color: $primary-color;
}

.board {
  max-width: 570px;
  width: 100%;
  height: 100%;
  padding: 20px;
  display: grid;
  gap: 1rem;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
}


.board-easy {
  grid-template-columns: repeat(var(--columns, 2), 1fr);
}

.board-medium {
  grid-template-columns: repeat(var(--columns, 3), 1fr);
}

.board-hard {
  grid-template-columns: repeat(var(--columns, 4), 1fr);
}
.board-banana {
  grid-template-columns: repeat(var(--columns, 4), 1fr);
}


@include tablet {
  .board {
    max-width: 90vh;
  }
  .board-easy {
    grid-template-columns: repeat(var(--columns, 3), 1fr);
  }
  .board-medium {
    grid-template-columns: repeat(var(--columns, 4), 1fr);
  }
  .board-hard {
    grid-template-columns: repeat(var(--columns, 5), 1fr);
  }
  .board-banana {
    grid-template-columns: repeat(var(--columns, 4), 1fr);
  }

}


@include desktop {

}
