
:root {
  --primary-color: #2a0a52;
  --secondary-color: #e6e6fa;
  --background-color: #e6e6fa;
  --secondary-background-color: #2a0a52;
}


//--primary-color: #013366;
//--secondary-color: #f1e5cf;
//--background-color: #f1e5cf;
//--secondary-background-color: #013366;

$font-family: 'Arial, sans-serif';
$base-font-size: 16px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$primary-color: var(--primary-color);
$secondary-color: var(--secondary-color);
$background-color: var(--background-color);
$secondary-background-color: var(--secondary-background-color);



