@import './_variables.scss';

.app {
  font-family: $font-family;
  font-size: $base-font-size;
  background-color: var(--background-color);
  padding: 10px;
  max-width: 400px;
  margin: 0 auto;
  width: 100%;




  @include tablet {
    padding: 15px;
    max-width: 100%;
  }


  @include desktop {
    padding: 20px;
    max-width: 1200px;
  }

  @include desktop {
    padding: 20px;
    max-width: 1600px;
  }
}