
.card {
  width: 100%;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px $primary-color solid;
  background-color: $secondary-background-color;
  border-radius: $primary-border-radius;
}

.cardFront {
  width: 100%;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardBack {
  color: $secondary-color;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flipped {
 background-color: $background-color;
}

.matched {
 border: $accent-color 3px solid;
}