.card {
  width: 100%;
  aspect-ratio: 1 / 1;
  perspective: 1000px;
  cursor: pointer;

}

.cardInner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  border-radius: $primary-border-radius;
}


.flipped {
    background-color: $background-color;
}
.flipped .cardInner {
  transform: rotateY(180deg);
}

.cardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: inherit;
  color: $secondary-color;
  background: linear-gradient(45deg, $primary-color 20%, $purple-accent 100%);
  background-size: 200% 200%;
  transition: background-position 1s ease-in-out, transform 1s;
  background-position: left center;
  svg {
    transition: transform 1s ease-in-out;
  }

}

.cardBack:hover {
  background-position: right center;
  transform: scale(1.05);
  svg {
    transform: rotate(1turn);
  }
  z-index: 1000;

}

.cardFront {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $background-color;
  border-radius: inherit;
  border: 1px $primary-color solid;
}

.matched {
  border: 3px solid $matched-color;
}

